<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title PureJsExcelApp
  body
    #app.container
      .excel
        .excel__header
          input.input(value="New table")
          div
            .button
              .material-icons delete
            .button
              .material-icons exit_to_app

        .excel__toolbar
          .button
            .material-icons format_align_left
          .button
            .material-icons format_align_right
          .button
            .material-icons format_align_center
          .button
            .material-icons format_bold
          .button
            .material-icons format_italic
          .button
            .material-icons format_underline

        .excel__formula
          .info fx
          .input(contenteditable spellcheck="false")

        .excel__table
          .row
            .row-info
            .row-data
              .column A
              .column B
              .column C
              .column D
          .row
            .row-info 1
            .row-data
              .cell.selected(contenteditable) A1 
              .cell(contenteditable) B1
              .cell(contenteditable) C1
          .row
            .row-info 2
            .row-data
              .cell(contenteditable) A2
              .cell(contenteditable) B2
              .cell(contenteditable) C2
