@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'header';
@import 'toolbar';
@import 'formula';
@import 'table';


$background-theme: #E8EAF6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background-theme;
  font-family: 'Roboto', sans-serif;
}

.excel {
  position: relative;
}

